:root {
  --primary-color: #6c63ff;
  --success-color: #198754;
  --error-color: #d63646;
  --accent-color: #f7c948;
}
label {
  font-weight: 600;
  white-space: nowrap;
  color: var(--primary-color);
}
.c-button {
  background: linear-gradient(to right, #6f42c1, #0dcaf0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none !important;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.c-button:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px); /* hiệu ứng nổi lên nhẹ */
}
